body{
	background: #FFF;
	text-align: center;
}

form{
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
	display: inline-block;
	padding: 20px;
}

input[type="text"], input[type="password"], input[type="email"]{
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px 5px;
	display: block;
	margin: 0 auto;
}

input[type="submit"]{
	background: #2CEF34;
	font-size: 20px;
	padding: 15px 10px;
	border: 0;
	cursor: pointer;
}

p{
	display: block;
}